body{
    background-image: url("../../images/hostel1.png");
}
.signinTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1C67C2;
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    font-size: 20px;
}
.signinContainer{
    width: 30vw;
    margin: auto;
    padding: 50px 50px;
    border-radius: 10px;
    margin-top: 10rem;
    background-size: cover;
    background-color: #DFDAD4;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.emptyMsg{
    color: red;
    font-size: 15px;
}
.btn-primary:disabled{
    background-color: gray !important;
}

.form-group{
    
}

.mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2.1rem;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
