
// @import 'normalize.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

// /* media queries */
@media all and (max-width:1024px){
    .signinContainer{
        width: 60vw;
        margin-top: 15vh;
    }
}
@media all and (max-width:768px){
    .signinContainer{
        width: 80vw;
        margin-top: 15vh;
    }
}
@media all and (max-width:480px){
    .signinContainer{
        width: 80vw;
        margin-top: 15vh;
    }
}
@media all and (max-width:250px){
    .signinContainer{
        width: 80vw;
        min-height: 50vh;
        margin-top: 18vh;
        padding: 10px;
    }
    ::placeholder{
        font-size: 15px;
    }
    .signinTitle{
        font-size: 19px;
        font-weight: bold;
    }
}



